[Desktop Entry]
Name=Infiltrator
Exec=infiltrator
Icon=infiltrator
Terminal=false
Type=Application
Categories=Utility;System;
Keywords=macro;overlay;text-expansion;wayland;
StartupNotify=false
